package ui

import (
	"fmt"
)

// TextareaOpts configures a multi-line input.
type TextareaOpts struct {
	Name, Value, Placeholder string
	Rows                     int
	Required                 bool
	Size                     Size
	Attrs                    Attrs
}

// Textarea is a multi-line text input.
templ Textarea(o TextareaOpts) {
	<textarea
		{ root("textarea", inputClass(o.Size), o.Attrs)... }
		id={ o.Name } name={ o.Name } rows={ fmt.Sprint(o.Rows) }
		placeholder={ o.Placeholder }
		required?={ o.Required }
	>{ o.Value }</textarea>
}
